@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>If this is your first time opening the app, start by creating @Html.ActionLink("Sample data", "CreateData", "Home")</p>
</div>
